{{!< default}}
<div class="banner-wrap">
  <section class="banner">
    
  </section>
</div>

{{#if currentUser}}
    {{else}}
      <div class="sign-up-group">
        <div class="row">

          <div class="columns large-8">


          </div>


          <div class="columns large-4">

            <div class="signup-box">
              
            </div>
            
          </div>
        
          

        </div>
      </div>
    {{/if}}

