{{!< default}}

<div class="banner-wrap login">
  <section class="banner">
    <img src="/images/login.jpg" alt="">
  </section>
</div>

<div class="sign-up-group">
  <div class="row">
  
  <div class="columns large-8">

      <div class="signup-banner">
       
      </div>

    </div>

    <div class="columns large-4">

      <div class="login-box">
    
      </div>

    </div>
    
  </div>
</div>

