.row    
    .col-xs-3
        button.btn.btn-block.btn-lg.btn-primary(ng-click="newProject('lg')")
            | + Add Project
        ul.projects
            li(ng-repeat="project in projects" ng-click="setCurrentProject(project)" ng-class="{true: 'active'}[currentProject.id == project.id]")
                | {{project.name}} 
                .btn-toolbar
                    .btn-group
                        button.btn.btn-tiny.btn-primary(ng-click="editProject(project);")
                            span.fui-new
                        button.btn.btn-tiny.btn-danger(ng-click="deleteProject(project);")
                            span.fui-trash
    .col-xs-9
        b(ng-show="!currentProject.id") please select a project
        div(ng-show="currentProject.id")
            h5 {{currentProject.name}}
            p {{currentProject.url}}
            button.btn.btn-large.btn-primary(ng-click="fetchRss()")
                | Fetch



script(type="text/ng-template" id="projectCreateModal.html" name="createProject")         
    form(ng-submit="createProject()")
       include modals/projectModal.jade

script(type="text/ng-template" id="projectEditModal.html" name="editProject")         
    form(ng-submit="updateProject()")
       include modals/projectModal.jade