.row    
    .col-xs-3
        button.btn.btn-block.btn-lg.btn-primary(ng-click="openModal('lg')")
            | + Add Project
.row
    ul
        li(ng-repeat="project in projects")
            | {{project.url}}
script(type="text/ng-template" id="projectCreateModal.html" name="createProject")         
    form(ng-submit="createProject()")
        .modal-header
            h3 create project
        .modal-body
            .form-group
                label(for="project-name") project name:
                input.form-control#project-name(ng-model="newProject.name" type="text" placeholder="project name" required)
            .form-group
                label(for="project-url") project url:
                input.form-control#project-url(ng-model="newProject.url" type="text" placeholder="project url" required)
            .form-group
                label(for="project-description") project description:
                textarea.form-control#project-description(ng-model="newProject.description" required)
        .modal-footer
            .col-xs-3
                input.btn.btn-primary.btn-lg.btn-block(type="submit"  value="Create" ng-disaeled="createProject.$invalid")
            .col-xs-3
                input.btn.btn-danger.btn-lg.btn-block(type="cancel"  value="Cancel" data-dismiss="modal" aria-label="Close" ng-click="cancel()")    