{{!< ../content}}

<div class="inner-content">
    <button class='flat small' data-reveal-id="subject_add" data-reveal>+ Add Subject</button>
    <ul>
        {{#each subjects}}
            <li>{{name}}</li>
        {{else}}
            <li> THERE IS NO SUBJECTS</li>
        {{/each}}
    </ul>
</div>


<div id="subject_add">

</div>