<div class="row">
  <div class="columns large-12">
    <button data-reveal-id="create_training" >
      添加培训信息
    </button>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <table class='full-width'>
      <thead>
        <tr>
          <th>#</th>
          <th>培训名称</th>
          <th>简短介绍</th>
          <th>价格</th>
          <th>描述</th>
          <th>培训图片</th>
          <th>年龄段</th>
          <th>培训类型</th>
          <th>培训地区</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>

<div class="text-area-field">
  <div class="row">
    <div class="columns large-12">
    <label for="ta-desc"> 描述信息： </label>
      <textarea name="desc" id="test-area" class='fixed-size'>hello world</textarea>
    </div>
  </div>
</div>


<div id="create_training" class="reveal-modal" data-reveal>

<div class="text-area-insert-point"></div>
  <h2>添加培训信息</h2>
  <div class="training-box">
    <form id="training" action='/trainings' class="training-form" method="post" novalidate="novalidate" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" class='csrf'> 
      <div class="row">
        <div class="columns large-12">
          <div class="input-wrap email-wrap">
            <input class="name" type="text" placeholder="培训名称" name="name" autocapitalize="off" autocorrect="off">
            <div class="error"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns large-12">
          <div class="input-wrap image-wrap">
            <label for="file">选择培训图片：</label>
            <input id='file' type="file" name="adver">
            <div class="error"></div>
        </div>

        </div>
      </div>
      <div class="row">
        <div class="columns large-6">
          <div class="input-wrap email-wrap">
            <input class="short-desc" type="text" placeholder="简短介绍" name="short_desc" autocapitalize="off" autocorrect="off">
            <div class="error"></div>
          </div>
        </div>

        <div class="columns large-6">
          <div class="input-wrap email-wrap">
            <input class="price" type="text" placeholder="价格" name="price" autocapitalize="off" autocorrect="off">
            <div class="error"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="columns large-6">

          <div class="input-wrap brand-wrap">
            <label for="file">选择培训品牌：</label>
            <select name="brand_id" id="brandid">

            </select>
            <div class="error"></div>
          </div>
        </div>
        <div class="columns large-6">
          <div class="input-wrap age-wrap">
            <label for="ages">选择培训年龄段：</label>
            <select name="ages" id="ages">
              <option value='1'>学前</option>
              <option value='2'>幼升小</option>
              <option value='3'>小升初</option>
              <option value='4'>中学</option>
              <option value='5'>大学</option>
              <option value='6'>成人</option>
            </select>
            <div class="error"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="columns large-6">
          <div class="input-wrap age-wrap">
            <label for="category">选择培训类型：</label>
            <select name="category" id="category">
              
              <option value="1">特长培训</option>
              <option value="2">中考</option>
              <option value="3">高考</option>
              <option value="4">考研</option>
              <option value="5">英语</option>
              <option value="6">留学</option>
              <option value="7">资格证考</option>
            </select>
            <div class="error"></div>
          </div>
        </div>

        <div class="columns large-6">
          <div class="input-wrap age-wrap">
            <label for="area">选择培训类型：</label>
            <select name="area" id="area">
              
              <option value="1">北京</option>
              <option value="2">天津</option>
              <option value="3">其他</option>

            </select>
            <div class="error"></div>
          </div>
        </div>

      </div>
      
      



      <button class="button-save flat full" type="submit">提交</button>

    </form>

  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="edit_training" class="reveal-modal" data-reveal>
</div>