
<div class="container">
  <div class="login-screen">
    <div class="login-icon"><img src="components/flat-ui/dist/img/icons/svg/paper-bag.svg"/>
      <h4>Start to use <b>Observer</b></h4>
    </div>
    <div class="login-form">
      <form ng-submit="doRegister()">
        <div class="form-group">
          <input id="login-email" name="register.email" type="email" placeholder="Your Email" class="form-control login-field"/>
          <label for="login-email" class="login-field-icon fui-mail"></label>
        </div>
        <div class="form-group">
          <input id="login-password" name="register.password" type="password" placeholder="Password" class="form-control login-field"/>
          <label for="login-password" class="login-field-icon fui-lock"></label>
        </div>
        <div class="form-group">
          <input id="login-password" type="password" placeholder="Confirm Password" class="form-control login-field"/>
          <label for="login-password" class="login-field-icon fui-lock"></label>
        </div>
        <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block"/><a href="#/login" class="login-link">-> Log in</a>
      </form>
    </div>
  </div>
</div>