.modal.fade(id="#{modalId}")
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title
                    block modalTitle
            .modal-body
                |hello world
            .modal-footer
                block modalFooter
