.modal.fade(id="#{modalId}")
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")&times;
                h4.modal-title
                    block modalTitle
            .modal-body
                block modalBody
            .modal-footer
                block modalFooter
