
<div class="modal-header">
  <h3>{{modalTitle}}</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="project-name">project name:</label>
    <input id="project-name" ng-model="newProject.name" type="text" placeholder="project name" required="required" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="project-url">project url:</label>
    <input id="project-url" ng-model="newProject.url" type="text" placeholder="project url" required="required" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="project-description">project description:</label>
    <textarea id="project-description" ng-model="newProject.description" required="required" class="form-control"></textarea>
  </div>
</div>
<div class="modal-footer">
  <div class="col-xs-3">
    <input type="submit" value="Create" ng-disaeled="createProject.$invalid" class="btn btn-primary btn-lg btn-block"/>
  </div>
  <div class="col-xs-3">
    <input type="cancel" value="Cancel" data-dismiss="modal" aria-label="Close" ng-click="cancel()" class="btn btn-danger btn-lg btn-block"/>
  </div>
</div>