@import "font";
@import "settings";
@import "foundation";
@import "controller";

$header-height : 75px;

*:focus {
  outline: none;
}

body {
  font-family: 'latoregular';
  background-image: url('/images/bg.jpg');
  background-size: 100%;
}

.clf {
  width: 0;
  clear: both;
}

header {
  max-width: $row-width;
  height:$header-height;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;

  a.logo {
    background-image: url(/images/logo.png);
    width: 175px;
    height: $header-height;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }

  nav.main-nav {
    float: right;
    ul {
      margin: 0.8em 0 0 0;
      & > li {
        line-height: $header-height;
        display: inline-block;
        font-size: 14px;
        margin-left: 1.6em;
        color:#666;
        
        &.spec {
          font-family: "source_sans_proregular";
          font-weight: 600 !important;
          font-size: 14px;
        }
      }
    }
  }
}

.banner-wrap {

}

section.banner {
  
  color: white;
  min-height: 300px;
  max-width: $row-width;
  margin-left: auto;
  margin-right: auto;
}

.main{
  min-height: 300px;
  max-width: $row-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sign-up-group {
  position: absolute;
  top:-200px;  
  width: 100%;
  

  .signup-box, .login-box{
    background-color: white;
    padding: 20px;
    border: 4px solid #16A085;
    border-radius: 10px;


    button {
      margin-bottom: 0;
    }

    .meta {
      margin-top: 10px;
    }
  }

  .signup-banner {
    h2, h3{
      color: white;
      line-height: 1;
    }

    h2 {
      font-family: "source_sans_proregular";
      font-size: 3.75rem;
      font-weight: bold;
      margin: 10px 0 ;
    }

    h3 {
      font-size: 1.3em;
    }
  }
}


img.height-fix {
  max-height: 50px;
}

table.full-width {
  width: 100%;
}

.brands {
  h2.title {
    font-size: 1.3em;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  ul.lists {
    list-style: none;
    margin: 0;
    border:1px solid #E2E2E2;
    padding: 12px 8px 8px 8px; 
    @include box-shadow(0 3px 3px -2px #595959);

    li {
      display: inline-block;
      width: 220px;
      height: 60px;
      text-align: center;
      img {
        max-height: 42px;
      }
      .name {

        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #595959;
      }
    }

  }
}


.trainings {
  h2.title {
    font-size: 1.3em;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  ul.lists {
    list-style: none;
    margin: 0;
    border:1px solid #E2E2E2;
    padding: 12px 8px 8px 8px; 

    li {
      display: inline-block;
      width: 100%;
      height: 130px;
      margin: 10px 0;
      overflow: hidden;
      position: relative;
      .img-wrap{
        width: 75%;
        height: 120px;
        overflow: hidden;
      }
      img.cover {
        width: 100%;
        margin-top: -15%;
      }
      .meta {
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 24%;
        height: 120px;
      }
    }
  }
}


.search-panel {
  margin-top: 40px;
  border:1px solid #E2E2E2;
  padding: 15px;
}
.reveal-modal {
  width: 1000px;
  margin-left: -500px;
}

li.blank {
  text-align: center;
}

.main {
  padding: 25px 0;
}

.footer-wrap {
  
  background-color: #323232;
  width: 100%;

  footer {
    max-width: $row-width;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 ;
    font-family: "source_sans_proregular";

    .sitemap {
      float: left;
    }
    .copyright {
      width: 100%;
      float: left;
      ul {
        width: 100%;
        li {
          padding: 0 10px;
          float: left;
          &.right {
            float: right;
          }
        }
      }
    }

    ul {
      width : 200px;
      float : left;
      color : #666666;
      list-style: none;
      li.title {
        color: #999999;
      }
    }
  }
}


