<h2>编辑品牌</h2>
<div class="brand-box">
<form id="brand" action='/brands/{{brand.id}}/update/' class="brand-form" method="post" novalidate="novalidate" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" class='csrf' value="{{csrfToken}}"> 
  <div class="input-wrap email-wrap">
      <input class="name" type="text" placeholder="品牌名称" name="name" autocapitalize="off" autocorrect="off" value="{{brand.name}}">
      <div class="error"></div>
  </div>
  <div class="input-wrap url-wrap">
      <input class="url" type="text" placeholder="品牌网址" name="url" value="{{brand.url}}">
      <div class="error"></div>
  </div>

  <div class="input-wrap image-wrap">
      <label for="file">选择品牌商标：</label>
      <input id='file' type="file" name="image">
      <div class="error"></div>
  </div>

  <button class="button-save flat full" type="submit">提交</button>
   <a class="close-reveal-modal">&#215;</a>