doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    // bower:css
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='components/videojs/dist/video-js/video-js.css')
    link(rel='stylesheet', href='components/flat-ui/dist/css/flat-ui.css')
    // endbower
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://localhost:35729/livereload.js')
  body(data-ng-controller="AppCtrl")
    div(ng-controller="HeaderController" ng-include="'templates/header.html'")
    .alert(role="alert" class="{{alertCategory}}" ng-show="showAlert"){{alertMessage}}
    .container
      div(ng-view)

  include partials/modal

  // bower:js
  script(src='components/jquery/dist/jquery.js')
  script(src='components/videojs/dist/video-js/video.js')
  script(src='components/flat-ui/dist/js/flat-ui.js')
  script(src='components/angular/angular.js')
  script(src='components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='components/angular-cookies/angular-cookies.js')
  script(src='components/angular-sanitize/angular-sanitize.js')
  script(src='components/angular-route/angular-route.js')
  script(src='components/angular-resource/angular-resource.js')
  // endbower

  script(src="js/all.js")